---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{inject 'productId' product.id}}

{{#partial "page"}}

    <div class="pdp-breadcrumbs">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        <div class="breadcrumbs-cart">
            <span class="price price--withoutTax">{{product.price.without_tax.formatted}}</span>
            <div class="add-to-cart-buttons {{#if product.pre_order}}pre-order-buttons{{/if}}">
                <div class="form-action" id="addToCart-container">
                    <input
                            id="form-action-addToCart"
                            data-wait-message="{{lang 'products.adding_to_cart'}}"
                            class="button button--primary"
                            type="submit"
                            value="{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}"
                    >
                    <span class="product-status-message aria-description--hidden">{{lang 'products.adding_to_cart'}} {{lang 'category.add_cart_announcement'}}</span>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.querySelector('.pdp-breadcrumbs .breadcrumbs')
    </script>

    {{#each product.shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

    
    <div>
        {{> components/products/product-view}}

        {{{region name="product_below_content"}}}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#all settings.show_product_reviews theme_settings.show_product_reviews (if theme_settings.show_product_details_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}
        {{#if theme_settings.show_data}}
        {{> components/products/tabs}}
        {{/if}}
    </div>

    {{> components/products/schema}}
{{/partial}}
{{> layout/base}}
